/*Readable Starting Font Size. Everything else is mostly rem-based.*/
html {
  font-size: 20px;
}
/*Set up the panels and boxes*/
.box{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.box.static{
  justify-content: space-evenly;
}
.panel{
  /*Panel border should be small, so px-based*/
  border: 1px solid lightgrey;
  margin: 0.5rem;
  width: 24rem;
}
/*Most things inside the panel shouldn't touch right up to it on the sides.*/
.panel>*{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.panel header{
  /*Headers need to use padding instead of margin, so the grey background works right.*/
  background: lightgrey;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin:0rem;
}

img{
  max-width: 100%;
}
