.resist-smashing, .defense-smashing, .damage-smashing {
  color:slategrey;
}
.resist-lethal, .defense-lethal .damage-lethal {
  color:darkslategrey;
}
.resist-fire, .defense-fire, .damage-fire {
  color:red;
}
.resist-cold, .defense-cold, .damage-cold {
  color:deepskyblue;
}
.resist-energy, .defense-energy, .damage-energy {
  color:blue;
}
.resist-negative, .defense-negative, .damage-negative {
  color:darkviolet;
}
.resist-toxic, .defense-toxic, .damage-toxic {
  color:forestgreen;
}
.resist-psychic, .defense-psychic, .damage-psychic {
  color:deeppink;
}
.defense-ranged {

}
.defense-melee {

}
.defense-aoe {

}

.resist-smashing, .defense-smashing,
.resist-lethal, .defense-lethal,
.resist-fire, .defense-fire,
.resist-cold, .defense-cold,
.resist-energy, .defense-energy,
.resist-negative, .defense-negative,
.resist-toxic, .defense-toxic,
.resist-psychic, .defense-psychic,
.defense-ranged,
.defense-melee,
.defense-aoe {
  text-align: end;
  min-width: 1.4em;
}
